body {
  /* margin: 0; */
  /* background-image: url(/src/img/background.png); */
  /* position: fixed; */
  /* min-width: 100%;
  min-height: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  background-repeat:no-repeat ; */

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* set background image per page */
.img-thumbnail{
  background: rgb(130,148,200);
background: linear-gradient(256deg, rgba(130,148,200,1) 0%, rgba(175,190,221,1) 12%, rgba(202,212,233,1) 24%, rgba(183,198,232,1) 36%, rgba(153,174,217,1) 48%, rgba(184,202,241,1) 60%, rgba(190,216,242,1) 72%, rgba(220,241,253,1) 84%, rgba(197,222,243,1) 100%);
  border: black
}

.form-bg{
  background-color: rgba(95, 94, 94, 0.5) !important;
}
.character_creation-bg{
background: url(img/character_creation.png) no-repeat center center fixed;
background-size: cover;
height: 100vh;
opacity: 1;
}
.character-select-bg{
background: url(img/character_select.png) no-repeat center center fixed;
background-size: cover;
height: 100vh;
opacity: 1;
}
.home-bg {
  background: url(img/Shah.png) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  opacity: 0.75;
}

.snow-bg {
  background: url(img/portaltree.png) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  opacity: 0.75;
  overflow: hidden;
}

.btn-dark:hover,
form .form-inner input[type="submit"] {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #e7340d 50%, #e7340d 50%, #fff);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #fff;
  font-weight: 700;
  cursor: pointer !important;
}

.sign-bg {
  background: url(img/Andrew.png) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  opacity: 0.75;
}
.contact-bg {
  background: url(img/background.png) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  opacity: 0.75;
}

.testimonial-box {
  color: #fff;
  text-align: center;
}

.testimonial-box .author-test {
  margin-top: 1rem;
}

.testimonial-box .author-test img {
  margin: 0 auto;
}

.testimonial-box .author {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 1rem 0;
  display: block;
  font-size: 1.4rem;
}

.testimonial-box .comit {
  font-size: 2rem;
  color: #0078ff;
  background-color: #fff;
  width: 52px;
  height: 52px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  line-height: 1.6;
}

@media (min-width: 768px) {
  .testimonial-box .description {
    padding: 0 5rem;
  }
}

@media (min-width: 992px) {
  .testimonial-box .description {
    padding: 0 8rem;
  }
}

@media (min-width: 1200px) {
  .testimonial-box .description {
    padding: 0 13rem;
  }
}

.swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.4);
  opacity: 1;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #fff;
}
